.word{
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  color: black;
}
.letter{
  border-bottom: 0.1em solid black;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
.reveal{
  color:red;
}